# al querer integrar mongo con nest (https://docs.nestjs.com/techniques/mongodb) nos da mongodb://localhost/nest pero en este caso sería mongodb://localhost:27017 porque esa ruta utiliza MongoDB según como lo utilizamos de forma local pero en producción sería otra configuración, colocar la cadena de conexión de la base de datos ya montada que usaremos, etc.

# Si hay problemas para conectar Nestjs con Mongodb Community se puede seguir esta documentación: https://mongoosejs.com/docs/connections.html porque puede surgir un problema al tratar de conectarse con Mongo ya que no crea la colección “mean-mongo-db” (que es la que configuramos) y lo que nos aconseja es utilizar la dirección en términos de números 127.0.0.1:27017 en vez de localhost
# Nos dice: --- Este es el mínimo necesario para conectar la base de datos myapp que se ejecuta localmente en el puerto predeterminado (27017). Para bases de datos locales MongoDB, recomendamos usar 127.0.0.1en lugar de localhost. Esto se debe a que Node.js 18 y versiones posteriores prefieren direcciones IPv6, lo que significa que, en muchas máquinas, Node.js se resolverá localhost en la dirección IPv6 ::1 y Mongoose no podrá conectarse, a menos que la instancia de mongodb se esté ejecutando con ipv6 habilitado. ---
MONGO_URI=mongodb://localhost:27017/mean-mongo-database